<div class="jumbotron">
    <p class="lead">
    <img src="images/logo.png" alt="<%=name%>"><br>
    </p>
</div>

<div class="row marketing">
  <p class="alert alert-warning">
    <strong>Aviso importante</strong>
    <br/>
    <%=disclaimer%>
  </p>
</div>

<% sections.each do |section| %>
<div class="row marketing" id="<%=section.name%>">
  <ul>
  <% section.questions.each do |question| %>
    <li>
      <p><%=question.text%></p>
      <div class="form-group">
      <%if question.variables.length == 1 %>
        <%variable = question.variables.first%>
        <div class="radio">
          <label>
            <input type="radio" name="<%=variable.name%>" data-ng-value="true" ng-model="answers.<%=variable.name%>">
            <%=question.yes_text%>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="<%=variable.name%>" data-ng-value="false" ng-model="answers.<%=variable.name%>">
              <%=question.no_text%>
          </label>
        </div>
      <% else %>
        <% question.variables.each do |variable| %>
        <label>
          <input type="checkbox" ng-model="answers.<%=variable.name%>"> <%=question.variable_text(variable)%>
        </label>
        <% end %>
      <% end %>
      </div>
    </li>
  <% end %>
  </ul>
</div>
<% end %>


<div class="row marketing" id="evaluacion">
  <ul>
    <li ng-show="mostrar_evaluacion_completa || visible(tratamientos.acetazolamida)">
      <label> Acetazolamida</label>
      <div class="alert alert-success" ng-show='tratamientos.acetazolamida.recomendado(respuestas)'>Recomendado
        <br/>
        <div ng-show='tratamientos.acetazolamida.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.edema'>Edemas por causa medicamentosa o insuficiencia cardiaca.</li>
                <li ng-show='respuestas.epilepsia'>Epilepsia.</li>
                <li ng-show='respuestas.glaucoma'>Glaucoma crónico de cualquier clase.</li>
            </ul>
        </div>
      </div>
      <div class="alert alert-warning" ng-show='tratamientos.acetazolamida.noRecomendado(respuestas)'>
        No recomendado por:
        <ul>
          <li ng-show='respuestas.cardiopatia'>Cardiopatia</li>
          <li ng-show='respuestas.insuficiencia_heptica'>Debe realizarse un especial control clínico en pacientes con insuficiencia hepática.</li>
          <li ng-show='respuestas.diabetes'>Precisa especial control clínico en pacientes con diabetes.</li>
          <li ng-show='respuestas.insuficiencia_renal'>Precisa especial control clínico en pacientes con insuficiencia renal.</li>
          <li ng-show='respuestas.gota__hiperuricemia'>Precisa especial control clínico en pacientes con gota o hiperuricemia.</li>
          <li ng-show='respuestas.clculos_urinarios'>Precisa especial control clínico en pacientes con historia previa de cálculos urinarios.</li>
          <li ng-show="respuestas.farma_carbamazepina">Posible acumulación orgánica de carbamazepina.</li>
          <li ng-show="respuestas.farma_eslicarbazepina">Posible acumulación orgánica de eslicarbazepina.</li>
          <li ng-show="respuestas.farma_fenitona">Puede potenciar la osteomalacia inducida por el empleo crónico de fenitoína.</li>
          <li ng-show="respuestas.farma_fenobarbital">Puede potenciar la osteomalacia inducida por el empleo crónico de fenobarbital.</li>
          <li ng-show="respuestas.farma_primidona">Puede potenciar la osteomalacia inducida por el empleo crónico de primidona.</li>
          <li ng-show="respuestas.farma_pseudoefedrina">Posible acumulación orgánica de pseudoefedrina, pudiendo conducir a efectos tóxicos.</li>
          <li ng-show="respuestas.farma_timololoftlmico">Posible potenciación de la toxicidad de timolol.</li>
        </ul>
        <br/>
        <div ng-show='tratamientos.acetazolamida.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.edema'>Edemas por causa medicamentosa o insuficiencia cardiaca.</li>
                <li ng-show='respuestas.epilepsia'>Epilepsia.</li>
                <li ng-show='respuestas.glaucoma'>Glaucoma crónico de cualquier clase.</li>
            </ul>
        </div>
      </div>
      <div class="alert alert-danger" ng-show='tratamientos.acetazolamida.prohibido(respuestas)'>
        Terminalmente prohibido por:
        <ul>
          <li ng-show='respuestas.embarazo'>Embarazo o deseo de gestación.</li>
          <li ng-show='respuestas.alergia_acetazolamida'>Alergia o intolerancia al fármaco.</li>
          <li ng-show='respuestas.acidosis_metablica'>Contraindicada en casos de acidosis metabólica hiperclorémica.</li>
          <li ng-show='respuestas.depresin'>Contraindicada en caso de depresión.</li>
          <li ng-show="respuestas.farma_cidoacetilsaliclico">Posible aumento de los niveles plasmáticos de acetazolamida con AAS. Riesgo de manifestaciones neurotóxicas.</li>
          <li ng-show="respuestas.farma_ciclosporina">Posible aumento de los niveles plasmáticos de ciclosporina, con riesgo de nefrotoxicidad y neurotoxicidad.</li>
          <li ng-show="respuestas.farma_digoxina">Posible aumento de la toxicidad digitálica por hipokaliemia.</li>
          <li ng-show="respuestas.farma_lisdexanfetamina">Posible potenciación de los efectos anfetamínicos de lisdexanfetamina, pudiendo contribuir a la aparición de psicosis tóxica.</li>
          <li ng-show="respuestas.farma_carbonatodelitio">Posible reducción de los niveles sanguíneos de litio.</li>
          <li ng-show="respuestas.farma_metildigoxina">Posible aumento de la toxicidad digitálica por hipokaliemia.</li>
          <li ng-show="respuestas.farma_topiramato">Posible mayor incidencia de nefrolitiasis de topiramato.</li>
          <li ng-show="respuestas.farma_zonisamida">Posible mayor incidencia de nefrolitiasis de zonisamida.</li>
        </ul>
      </div>
    </li>
    <li ng-show="mostrar_evaluacion_completa || visible(tratamientos.amitriptilina)">
      <label> Amitriptilina</label>
      <div class="alert alert-success" ng-show='tratamientos.amitriptilina.recomendado(respuestas)'>Recomendado
        <br/>
        <div ng-show='tratamientos.amitriptilina.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.depresin'>Depresión.</li>
                <li ng-show='respuestas.eneuresis_nocturna'>Eneuresis nocturna sin causa orgánica.</li>
                <li ng-show='respuestas.dolor_neuroptico'>Dolor neuropático crónico.</li>
            </ul>
        </div>
    </div>
      <div class="alert alert-warning" ng-show='tratamientos.amitriptilina.noRecomendado(respuestas)'>
        No recomendado por:
        <ul>
          <li ng-show='respuestas.cardiopatia'>Cardiopatia</li>
          <li ng-show='respuestas.angina'>Puede desencadenar un infarto de miocardio, especialmente en pacientes con angina de pecho.</li>
          <li ng-show='respuestas.arritmia_o_bloqueo_cardiaco'>Ha provocado arritmias, taquicardia sinusal y prolongación del tiempo de conducción y del intervalo QT, especialmente cuando se administra a dosis altas.</li>
          <li ng-show='respuestas.insuficiencia_heptica'>Dado que se metaboliza principalmente en el hígado, deberá ajustarse la posología al grado funcional hepático.</li>
          <li ng-show='respuestas.hipertiroidismo'>En casos de hipertiroidismo, tiene riesgo de toxicidad cardiovascular.</li>
          <li ng-show='respuestas.epilepsia'>Puede disminuir el umbral convulsivo en epilépticos.</li>
          <li ng-show='respuestas.glaucoma'>Puede aumentar la presión intraocular.</li>
          <li ng-show='respuestas.esquizofrenia'>Puede aumentar el número de alteraciones psicóticas y los delirios paranoides pueden agravarse.</li>
          <li ng-show='respuestas.trastorno_bipolar'>En caso de psicosis maniacodepresiva, los pacientes deprimidos pueden experimentar un cambio a la fase maniaca.</li>
          <li ng-show='respuestas.tendencia_suicida'>El riesgo de suicidio puede aumentar en los primeros estadíos de la recuperación.</li>
          <li ng-show='respuestas.hipertrofia_prosttica_o_uropata_obstructiva'>El efecto anticolinérgico puede causar agravamiento de cualquier enfermedad que produzca retención urinaria.</li>
          <li ng-show='respuestas.estrenimiento'>Puede causar íleo paralítico, por lo que se debe tener cuidado en pacientes con estreñimiento crónico.</li>
          <li ng-show='respuestas.fotosensibilidad'>No es aconsejable en pacientes que deseen una exposición prolongada al sol.</li>
          <li ng-show='respuestas.feocromocitoma'>Puede desencadenar crisis hipertensivas en pacientes con feocromocitoma o neuroblastoma.</li>
          <li ng-show="respuestas.farma_altizida">Posible incremento de la toxicidad cardiaca por uso simultáneo de altizida.</li>
          <li ng-show="respuestas.farma_baclofeno">Posible potenciación de los efectos antiespásticos de baclofeno.</li>
          <li ng-show="respuestas.farma_bendroflumetiazida">Posible incremento de la toxicidad cardiaca por uso simultáneo de bendroflumetiazida.</li>
          <li ng-show="respuestas.farma_biperideno">Posible potenciación del efecto anticolinérgico por uso de biperideno.</li>
          <li ng-show="respuestas.farma_bumetanida">Posible incremento de la toxicidad cardiaca por uso simultáneo de bumetanida.</li>
          <li ng-show="respuestas.farma_bupropin">Posible acumulación de amitriptilina por uso simultáneo de bupropión.</li>
          <li ng-show="respuestas.farma_citalopram">Posible acumulación de amitriptilina por uso simultáneo de citalopram.</li>
          <li ng-show="respuestas.farma_clortalidona">Posible incremento de la toxicidad cardiaca por uso simultáneo de clortalidona.</li>
          <li ng-show="respuestas.farma_diazepam">Posible potenciación del deterioro de la alerta mental por uso simultáneo de diazepam.</li>
          <li ng-show="respuestas.farma_disulfiram">Posible acumulación de amitriptilina por uso simultáneo de disulfiram.</li>
          <li ng-show="respuestas.farma_escopolamina">Posible potenciación del efecto anticolinérgico por uso de escopolamina.</li>
          <li ng-show="respuestas.farma_estradiol">Posible acumulación de amitriptilina por uso simultáneo de estradiol.</li>
          <li ng-show="respuestas.farma_estriol">Posible acumulación de amitriptilina por uso simultáneo de estriol.</li>
          <li ng-show="respuestas.farma_etinilestradiol">Posible acumulación de amitriptilina por uso simultáneo de etinilestradiol.</li>
          <li ng-show="respuestas.farma_fluconazol">Posible acumulación de amitriptilina por uso simultáneo de fluconazol.</li>
          <li ng-show="respuestas.farma_furosemida">Posible potenciación de la toxicidad cardiaca por uso simultáneo de furosemida.</li>
          <li ng-show="respuestas.farma_granisetrn">Posible aparición de arritmias cardiacas por uso de granisetrón.</li>
          <li ng-show="respuestas.farma_hidroclorotiazida">Posible potenciación de la toxicidad cardiaca por uso simultáneo de hidroclorotiazida.</li>
          <li ng-show="respuestas.farma_hiprico">Posible reducción del nivel plasmático de amitriptilina por la toma de hipérico.</li>
          <li ng-show="respuestas.farma_indapamida">Posible incremento de la toxicidad cardiaca por uso simultáneo de indapamida.</li>
          <li ng-show="respuestas.farma_josamicina">Posible acumulación de amitriptilina por uso simultáneo de josamicina.</li>
          <li ng-show="respuestas.farma_levodopa">Posible aparición de crisis hipertensivas por uso simultáneo de levodopa.</li>
          <li ng-show="respuestas.farma_morfina">Posible acumulación orgánica de morfina.</li>
          <li ng-show="respuestas.farma_ondansetrn">Posible aparición de arritmias cardiacas por uso de ondansetrón.</li>
          <li ng-show="respuestas.farma_palonosetrn">Posible aparición de arritmias cardiacas por uso de palonosetrón.</li>
          <li ng-show="respuestas.farma_piretanida">Posible incremento de la toxicidad cardiaca por uso simultáneo de piretanida.</li>
          <li ng-show="respuestas.farma_prociclinida">Posible potenciación del efecto anticolinércigo por uso simultáneo de prociclinida.</li>
          <li ng-show="respuestas.farma_sertralina">Posible acumulación orgánica de amitriptilina por uso simultáneo de sertralina.</li>
          <li ng-show="respuestas.farma_sulfacrato">Posible reducción de los niveles de amitriptilina por uso simultáneo de sulfacrato.</li>
          <li ng-show="respuestas.farma_terbinafina">Posible potenciación del efecto anticolinérgico por uso simultáneo de terbinafina.</li>
          <li ng-show="respuestas.farma_torasemida">Posible potenciación de la toxicidad cardiaca por uso simultáneo de torasemida.</li>
          <li ng-show="respuestas.farma_trihexifenilo">Posible potenciación del efecto anticolinércigo por uso simultáneo de trihexifenilo.</li>
          <li ng-show="respuestas.farma_xipamida">Posible incremento de la toxicidad cardiaca por uso simultáneo de xipamida.</li>
          <li ng-show="respuestas.farma_escitalopram">Posible acumulación orgánica de amitriptilina por uso simultáneo de escitalopram.</li>
          <li ng-show="respuestas.farma_fenilefrinanasal">Posible potenciación de los efectos cardiovasculares en caso de absorción sistémica de fenilefrina.</li>
          <li ng-show="respuestas.farma_formoterol">Posible acción sobre el intervalo QT en caso de uso simultáneo de formoterol.</li>
          <li ng-show="respuestas.farma_metildopa">Posible aparición de crisis hipertensivas por uso simultáneo de metildopa.</li>
          <li ng-show="respuestas.farma_mirabegron">Posible aumento de las concentraciones plasámticas de los sustratos del CYP2D6 por uso de mirabegron.</li>
          <li ng-show="respuestas.farma_nafazolinanasal">Posible potenciación de los efectos cardiovasculares en caso de absorción sistémica de nafazolina.</li>
          <li ng-show="respuestas.farma_oximetazolinanasal">Posible potenciación de los efectos cardiovasculares en caso de absorción sistémica de oximetazolina.</li>
          <li ng-show="respuestas.farma_nilotinib">Posible acción sobre el intervalo QT en caso de uso simultáneo de nilotinib.</li>
          <li ng-show="respuestas.farma_paroxetina">Posible acumulación orgánica de amitriptilina por uso simultáneo de paroxetina.</li>
          <li ng-show="respuestas.farma_ritonavir">Posible acumulación orgánica de amitriptilina por uso simultáneo de ritonavir.</li>
          <li ng-show="respuestas.farma_tramazolinanasal">Posible potenciación de los efectos cardiovasculares en caso de absorción sistémica de tramazolina.</li>
          <li ng-show="respuestas.farma_xilometazolinanasal">Posible potenciación de los efectos cardiovasculares en caso de absorción sistémica de xilometazolina.</li>
          <li ng-show="respuestas.farma_estrgenosconjugados">Posible acumulación del antidepresivo en el organismo por uso de estrógenos.</li>
        </ul>
        <br/>
        <div ng-show='tratamientos.amitriptilina.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.depresin'>Depresión.</li>
                <li ng-show='respuestas.eneuresis_nocturna'>Eneuresis nocturna sin causa orgánica.</li>
                <li ng-show='respuestas.dolor_neuroptico'>Dolor neuropático crónico.</li>
            </ul>
        </div>      </div>
      <div class="alert alert-danger" ng-show='tratamientos.amitriptilina.prohibido(respuestas)'>
        Terminalmente prohibido por:
        <ul>
          <li ng-show='respuestas.embarazo'>Embarazo o deseo de gestación.</li>
          <li ng-show='respuestas.alergia_amitriptilina'>Alergia o intolerancia al fármaco.</li>
          <li ng-show='respuestas.infarto_de_miocardio'>Aumenta el riesgo de sufrir un bloqueo cardiaco en el periodo de recuperación de un infarto de miocardio.</li>
          <li ng-show='respuestas.alcohol'>El paciente desea tomar bebidas alcohólicas durante el tratamiento.</li>
          <li ng-show="respuestas.farma_adenosina">La administración junto con adenosina puede dar lugar a arritmias cardiacas graves.</li>
          <li ng-show="respuestas.farma_trixidodearsnico">La administración conjunta de arsénico puede prolongar el intervalo QT.</li>
          <li ng-show="respuestas.farma_atomoxetina">La administración conjunta de atomoxetina puede dar lugar a arritmias cardiacas graves.</li>
          <li ng-show="respuestas.farma_atropina">Posible potenciación del efecto anticolinérgico de atropina.</li>
          <li ng-show="respuestas.farma_carbamazepina">Posible disminución del efecto de amitriptilina por carbamazepina.</li>
          <li ng-show="respuestas.farma_clonidina">Los antidepresivos tricíclicos pueden antagonizar la acción de clonidina.</li>
          <li ng-show="respuestas.farma_clorpromacina">Posible sobreestimulación del SNC, con aparición de temblores o arritmias cardiacas por clorpromacina.</li>
          <li ng-show="respuestas.farma_clozapina">Posible sobreestimulación del SNC, con aparición de temblores o arritmias cardiacas por clozapina.</li>
          <li ng-show="respuestas.farma_droperidol">Posible sobreestimulación del SNC, con aparición de temblores o arritmias cardiacas por droperidol.</li>
          <li ng-show="respuestas.farma_epinefrina">Posible potenciación de los efectos cardiovasculares por epinefrina.</li>
          <li ng-show="respuestas.farma_eslicarbazepina">Posible disminución del efecto de amitriptilina por eslicarbazepina.</li>
          <li ng-show="respuestas.farma_epinefrina">Posible potenciación de los efectos cardiovasculares por epinefrina.</li>
          <li ng-show="respuestas.farma_fenilefrinanasal">Posible potenciación de los efectos cardiovasculares por fenilefrina nasal.</li>
          <li ng-show="respuestas.farma_fenobarbital">Posible disminución del efecto de amitriptilina por fenobarbital.</li>
          <li ng-show="respuestas.farma_flufenacina">Posible aparición de temblores y arritmias cardiacas por uso simultáneo de flufenacina.</li>
          <li ng-show="respuestas.farma_fluoxetina">Posible acumulación de amitriptilina por uso simultáneo de fluoxetina.</li>
          <li ng-show="respuestas.farma_fluvoxamina">Posible acumulación de amitriptilina por uso simultáneo con fluvoxamina.</li>
          <li ng-show="respuestas.farma_haloperidol">Posible aparición de temblores y arritmias cardiacas por uso simultáneo de haloperidol.</li>
          <li ng-show="respuestas.farma_levomepromazina">Posible aparición de temblores y arritmias cardiacas por uso simultáneo de levomepromazina.</li>
          <li ng-show="respuestas.farma_linezolid">Posible aparición de síndrome serotoninérgico por uso de linezolid.</li>
          <li ng-show="respuestas.farma_carbonatodelitio">Posible aparición de neurotoxicidad, síndrome serotoninérgico o síndrome neuroléptico maligno por uso simultáneo de litio.</li>
          <li ng-show="respuestas.farma_moclobemida">Posible aparición de síndrome serotoninérgico por uso simultáneo de moclobemida.</li>
          <li ng-show="respuestas.farma_norepinefrina">Posible potenciación de los efectos cardiovasculares de norepinefrina.</li>
          <li ng-show="respuestas.farma_perfenazina">Posible aparición de temblores y arritmias cardiacas por uso simultáneo de perfenazina.</li>
          <li ng-show="respuestas.farma_periciazina">Posible aparición de temblores y arritmias cardiacas por uso simultáneo de periciazina.</li>
          <li ng-show="respuestas.farma_pimozida">Posible prolongación del intervalo QT por uso simultáneo de pimozida.</li>
          <li ng-show="respuestas.farma_rasagilina">Posible aparición de síndrome serotoninérgico por uso simultáneo de rasagilina.</li>
          <li ng-show="respuestas.farma_saquinavir">Posible acumulación de amitriptilina por saquinavir.</li>
          <li ng-show="respuestas.farma_selegilina">Posible aparición de síndrome serotoninérgico por uso simultáneo de selegilina.</li>
          <li ng-show="respuestas.farma_sotalol">Posible prolongación del intervalo QT por uso simultáneo de sotalol.</li>
          <li ng-show="respuestas.farma_sunitinib">Posible prolongación del intervalo QT por uso simultáneo de sunitinib.</li>
          <li ng-show="respuestas.farma_tacrolimus">Posible prolongación del intervalo QT por uso simultáneo de tacrolimus.</li>
          <li ng-show="respuestas.farma_tranilcipromina">Posible aparición de síndrome serotoninérgico por uso simultáneo de tranilcipromina.</li>
          <li ng-show="respuestas.farma_valproato">Posible acumulación de amitriptilina por uso simultáneo de valproato.</li>
          <li ng-show="respuestas.farma_valpromida">Posible acumulación de amitriptilina por uso simultáneo de valpromida.</li>
        </ul>
      </div>
    </li>
    <li ng-show="mostrar_evaluacion_completa || visible(tratamientos.flunarizina)">
      <label> Flunarizina</label>
      <div class="alert alert-success" ng-show='tratamientos.flunarizina.recomendado(respuestas)'>Recomendado
        <br/>
    </div>
      <div class="alert alert-warning" ng-show='tratamientos.flunarizina.noRecomendado(respuestas)'>
        No recomendado por:
        <ul>
          <li ng-show='respuestas.cardiopatia'>Cardiopatia</li>
          <li ng-show='respuestas.insuficiencia_heptica'>Dado que se metaboliza principalmente en el hígado, deberá ajustarse la posología al grado funcional hepático.</li>
          <li ng-show="respuestas.farma_carbamazepina">Posible pérdida de eficacia de flunarizina por uso simultáneo de carbamazepina.</li>
          <li ng-show="respuestas.farma_ciproterona">Aumento del riesgo de galactorrea por uso simultáneo de ciproterona.</li>
          <li ng-show="respuestas.farma_eslicarbazepina">Posible pérdida de eficacia de flunarizina por uso simultáneo de eslicarbazepina.</li>
          <li ng-show="respuestas.farma_fenitona">Posible pérdida de eficacia de flunarizina por uso simultáneo de fenitoína.</li>
          <li ng-show="respuestas.farma_valproato">Posible pérdida de eficacia de flunarizina por uso simultáneo de valproato.</li>
        </ul>
        <br/>
      </div>
      <div class="alert alert-danger" ng-show='tratamientos.flunarizina.prohibido(respuestas)'>
        Terminalmente prohibido por:
        <ul>
          <li ng-show='respuestas.embarazo'>Embarazo o deseo de gestación.</li>
          <li ng-show='respuestas.alergia_flunarizina'>Alergia o intolerancia al fármaco.</li>
          <li ng-show='respuestas.parkinson'>Puede producir síntomas extrapiramidales parkinsonianos durante tratamientos prolongados, especialmente en ancianos.</li>
          <li ng-show='respuestas.depresin'>No se aconseja el uso en caso de depresión. Puede precipitar, además, la aparición de depresión.</li>
          <li ng-show='respuestas.alcohol'>El paciente desea tomar bebidas alcohólicas durante el tratamiento.</li>
          <li ng-show="respuestas.farma_etinilestradiol">Aumento del riesgo de galactorrea por uso simultáneo de etinilestradiol.</li>
        </ul>
      </div>
    </li>
    <li ng-show="mostrar_evaluacion_completa || visible(tratamientos.propranolol)">
      <label> Propranolol</label>
      <div class="alert alert-success" ng-show='tratamientos.propranolol.recomendado(respuestas)'>Recomendado
        <br/>
        <div ng-show='tratamientos.propranolol.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.angina'>Anginas de pecho de repetición.</li>
                <li ng-show='respuestas.ansiedad'>Ansiedad con taquicardias y temblores.</li>
                <li ng-show='respuestas.arritmia_cardiaca'>Arritmia cardiaca suceptible de mejora con betabloqueantes.</li>
                <li ng-show='respuestas.hipertensin_arterial'>Hipertensión arterial.</li>
                <li ng-show='respuestas.miocardiopata_hipertrfica'>Miocardiopatía hipertrófica obstructiva.</li>
                <li ng-show='respuestas.temblor_esencial'>Temblor esencial.</li>
                <li ng-show='respuestas.tirotoxicosis'>Tirotoxicosis.</li>
                <li ng-show='respuestas.varices_esofgicas'>Varices esofágicas.</li>
            </ul>
        </div>
    </div>
      <div class="alert alert-warning" ng-show='tratamientos.propranolol.noRecomendado(respuestas)'>
        No recomendado por:
        <ul>
          <li ng-show='respuestas.cardiopatia'>Cardiopatia</li>
          <li ng-show='respuestas.arteriopata_perifrica'>Puede disminuir la circulación periférica.</li>
          <li ng-show='respuestas.psoriasis'>Puede exacerbar la psoriasis.</li>
          <li ng-show='respuestas.insuficiencia_heptica'>Iniciar el tratamiento con dosis bajas. En hipertensión portal, la función hepática puede deteriorarse y desarrollarse encefalopatía hepática.</li>
          <li ng-show='respuestas.hipertiroidismo'>El bloqueo betaadrenérgico tiende a revertir con rapidez los síntomas de hipertiroidismo.</li>
          <li ng-show='respuestas.diabetes'>Puede enmascarar los síntomas de una crisis de hipoglucemia.</li>
          <li ng-show='respuestas.insuficiencia_renal'>Se excreta mayoritariamente por vía renal; debe ajustarse la dosis de acuerdo al grado funcional renal.</li>
          <li ng-show='respuestas.miastenia_gravis'>Puede potenciar un estado miasténico, visión doble y debilidad muscular.</li>
          <li ng-show='respuestas.depresin'>La asociación de betabloqueantes con depresión no ha sido totalmente establecida, pero se recomienda precaución en estos pacientes.</li>
          <li ng-show='respuestas.feocromocitoma'>Existe riesgo de hipertensión en caso de feocromocitoma si no se alcanza antes un bloqueo alfaadrenérgico eficaz.</li>
          <li ng-show="respuestas.farma_abiraterona">Posible aumento de las concentraciones plasmáticas del sustrato del CYP2D6 por abiraterona.</li>
          <li ng-show="respuestas.farma_aceclofenaco">Posible reducción del efecto antihipertensivo por aceclofenaco.</li>
          <li ng-show="respuestas.farma_acenocumarol">Posible potenciación del efecto anticoagulante de acenocumarol.</li>
          <li ng-show="respuestas.farma_cidoacetilsaliclico">Posible reducción del efecto antihipertensivo por uso de ácido acetilsalicílico.</li>
          <li ng-show="respuestas.farma_amiodarona">Posible aparición de bradicardia, asistolia o fibrilación ventricular por uso de amiodarona.</li>
          <li ng-show="respuestas.farma_cidoascrbico">Posible reducción de los niveles de propranolol por ácido ascórbico.</li>
          <li ng-show="respuestas.farma_celecoxib">Posible reducción del efecto antihipertensivo por celecoxib.</li>
          <li ng-show="respuestas.farma_colestipol">Posible reducción de la absorción del betabloqueante por colestipol.</li>
          <li ng-show="respuestas.farma_colestiramina">Posible reducción de la absorción del betabloqueante por colestiramina.</li>
          <li ng-show="respuestas.farma_dexibuprofeno">Posible reducción del efecto antihipertensivo por dexibuprofeno.</li>
          <li ng-show="respuestas.farma_dexketoprofeno">Posible reducción del efecto antihipertensivo por dexketoprofeno.</li>
          <li ng-show="respuestas.farma_diazepam">Posible potenciación del efecto de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_diclofenaco">Posible reducción del efecto antihipertensivo por uso de diclofenaco.</li>
          <li ng-show="respuestas.farma_diltiazem">Puede darse una importante depresión miocárdica por diltiazem.</li>
          <li ng-show="respuestas.farma_dronedarona">Posible riesgo de bradicardia por dronedarona.</li>
          <li ng-show="respuestas.farma_ergotamina">Posible potenciación de efectos vasoconstrictores de la ergotamina.</li>
          <li ng-show="respuestas.farma_estradiol">Posible acumulación del betabloqueante por uso de estrógenos.</li>
          <li ng-show="respuestas.farma_estriol">Posible acumulación del betabloqueante por uso de estrógenos.</li>
          <li ng-show="respuestas.farma_estrgenosconjugados">Posible acumulación del betabloqueante por uso de estrógenos.</li>
          <li ng-show="respuestas.farma_etinilestradiol">Posible acumulación del betabloqueante por uso de estrógenos.</li>
          <li ng-show="respuestas.farma_etoricoxib">Posible reducción del efecto antihipertensivo por uso de etoricoxib.</li>
          <li ng-show="respuestas.farma_fenobarbital">Peligro de crisis hipertensiva por uso de fenobarbital.</li>
          <li ng-show="respuestas.farma_flecainida">Posible acumulación de fármacos y efectos tóxicos por uso de flecainida.</li>
          <li ng-show="respuestas.farma_flurbiprofeno">Posible reducción del efecto antihipertensivo por uso de flurbiprofeno.</li>
          <li ng-show="respuestas.farma_fluvoxamina">Posible acumulación de fármacos y efectos tóxicos de fluvoxamina.</li>
          <li ng-show="respuestas.farma_heparina">Posible aumento de la fracción libre del betabloqueante por uso de heparina.</li>
          <li ng-show="respuestas.farma_hidralazina">Posible aumento de la biodisponibilidad oral de los betabloqueantes por uso de hidralazina.</li>
          <li ng-show="respuestas.farma_ibuprofeno">Posible reducción del efecto antihipertensivo por uso de ibuprofeno.</li>
          <li ng-show="respuestas.farma_imipramina">Posible acumulación orgánica del antidepresivo por uso de imipramina.</li>
          <li ng-show="respuestas.farma_indometacina">Posible reducción del efecto antihipertensivo por uso de indometacina.</li>
          <li ng-show="respuestas.farma_isonixina">Posible reducción del efecto antihipertensivo por uso de isonixina.</li>
          <li ng-show="respuestas.farma_ketoprofeno">Posible reducción del efecto antihipertensivo por uso de ketoprofeno.</li>
          <li ng-show="respuestas.farma_ketorolaco">Posible reducción del efecto antihipertensivo por uso de ketorolaco.</li>
          <li ng-show="respuestas.farma_lornoxicam">Posible reducción del efecto antihipertensivo por lornoxicam.</li>
          <li ng-show="respuestas.farma_maprotilina">Posible acumulación orgánica del antidepresivo por maprotilina.</li>
          <li ng-show="respuestas.farma_cidomefenmico">Posible reducción del efecto antihipertensivo por ácido mefenámico.</li>
          <li ng-show="respuestas.farma_meloxicam">Posible reducción del efecto antihipertensivo por meloxicam.</li>
          <li ng-show="respuestas.farma_nabumetona">Posible reducción del efecto antihipertensivo por nabumetona.</li>
          <li ng-show="respuestas.farma_naproxeno">Posible reducción del efecto antihipertensivo por naproxeno.</li>
          <li ng-show="respuestas.farma_neostigmina">Posible riesgo de bradicardia e hipotensión por neostigmina.</li>
          <li ng-show="respuestas.farma_nifedipino">Complicaciones cardiacas en relación con el tratamiento con nifedipino.</li>
          <li ng-show="respuestas.farma_cidoniflmico">Posible reducción del efecto antihipertensivo por ácido niflúmico.</li>
          <li ng-show="respuestas.farma_paracetamol">Posible acumulación del paracetamol.</li>
          <li ng-show="respuestas.farma_parecoxib">Posible reducción del efecto antihipertensivo por parecoxib.</li>
          <li ng-show="respuestas.farma_bromurodepiridostigmina">Posible potenciación de la toxicidad con bradicardia e hipotensión por uso de piridostigmina.</li>
          <li ng-show="respuestas.farma_piroxicam">Posible reducción del efecto antihipertensivo por piroxicam.</li>
          <li ng-show="respuestas.farma_promestrieno">Posible acumulación de betabloqueantes por uso de promestireno.</li>
          <li ng-show="respuestas.farma_propafenona">Posible acumulación de betabloqueantes por propafenona.</li>
          <li ng-show="respuestas.farma_rifampicina">Posible pérdida terapéutica de los betabloqueantes por uso de rifampicina.</li>
          <li ng-show="respuestas.farma_rizatriptn">Posible acumulación orgánica del antimigrañoso.</li>
          <li ng-show="respuestas.farma_clorurodesuxametonio">Posible aumento de la duración y efecto del bloqueante neuromuscular.</li>
          <li ng-show="respuestas.farma_tenoxicam">Posible reducción del efecto antihipertensivo por tenoxicam.</li>
          <li ng-show="respuestas.farma_teofilina">Posible potenciación de los efectos broncodilatadores de la teofilina.</li>
          <li ng-show="respuestas.farma_terbinafina">Acumulación orgánica de susratos mayores del CYP2D6 de terbinafina.</li>
          <li ng-show="respuestas.farma_tiopentalsdico">Posible disminución de la acción de los betabloqueantes por uso de tiopental.</li>
          <li ng-show="respuestas.farma_verapamilo">Puede originarse una importante depresión miocárdica por verapamilo.</li>
          <li ng-show="respuestas.farma_warfarina">Posible potenciación del efecto anticoagulante de warfarina.</li>
          <li ng-show="respuestas.farma_acarbosa">Pueden originarse hipoglucemias por uso de acarbosa.</li>
          <li ng-show="respuestas.farma_agomelatina">Posible acumulación de agomelatina.</li>
          <li ng-show="respuestas.farma_albiglutida">Pueden originarse hipoglucemias por uso de albiglutida.</li>
          <li ng-show="respuestas.farma_algeldrato">Posible disminución de la absorción gastrointestinal de los betabloqueantes por uso de algeldrato.</li>
          <li ng-show="respuestas.farma_almasilato">Posible disminución de la absorción gastrointestinal de los betabloqueantes por uso de almasilato.</li>
          <li ng-show="respuestas.farma_alprostadilo">Posible aumento de los efectos hipotensores por uso de alprostadilo.</li>
          <li ng-show="respuestas.farma_canaglifozina">Pueden originarse hipoglucemias por la canaglifozina.</li>
          <li ng-show="respuestas.farma_citalopram">Posible aumento de las concentraciones plasmáticas de citalopram.</li>
          <li ng-show="respuestas.farma_codena">Posible potenciación de la toxicidad de los analgésicos narcóticos.</li>
          <li ng-show="respuestas.farma_dapaglifozina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_empaglifozina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_escitalopram">Posible aumento de las concentraciones plasmáticas de escitalopram.</li>
          <li ng-show="respuestas.farma_exenatida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_fampridina">Posible alteración de la excrección renal de fampridina.</li>
          <li ng-show="respuestas.farma_fenilefrinanasal">Puede originarse una importante elevación de la presión arterial por uso de vasoconstrictores nasales.</li>
          <li ng-show="respuestas.farma_fentanilo">Posible potenciación de la toxicidad de los analgésicos narcóticos.</li>
          <li ng-show="respuestas.farma_galantamina">Posible enlentecimiento excesivo del ritmo cardiaco por galantamina.</li>
          <li ng-show="respuestas.farma_glibenclamida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_gliclazida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_glimepirida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_glipizida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_glisentida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_gomaguar">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_haloperidol">Posible potenciación de los efectos de haloperidol y propranolol.</li>
          <li ng-show="respuestas.farma_imatinib">Posible acumulación de los sustratos mayores del CYP2D6 por uso de imatinib.</li>
          <li ng-show="respuestas.farma_insulina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_linagliptina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_liraglutida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_lixisenatida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_carbonatodemagnesio">Alteración de la absorción gastrointestinal de propranolol por uso de magnesio.</li>
          <li ng-show="respuestas.farma_hidrxidodemagnesio">Alteración de la absorción gastrointestinal de propranolol por uso de magnesio.</li>
          <li ng-show="respuestas.farma_xidodemagnesio">Alteración de la absorción gastrointestinal de propranolol por uso de magnesio.</li>
          <li ng-show="respuestas.farma_trisilicatodemagnesio">Alteración de la absorción gastrointestinal de propranolol por uso de magnesio.</li>
          <li ng-show="respuestas.farma_metadona">Posible potenciación de la toxicidad de los analgésicos narcóticos.</li>
          <li ng-show="respuestas.farma_metformina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_miglitol">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_modafilino">Posible aumento de las concentraciones plasmáticas de modafilino.</li>
          <li ng-show="respuestas.farma_morfina">Posible potenciación de la toxicidad de los analgésicos narcóticos.</li>
          <li ng-show="respuestas.farma_nafazolinanasal">Posible elevación de la tensión arterial por uso de vasoconstrictores nasales.</li>
          <li ng-show="respuestas.farma_nateglinida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_nisoldipino">Posible aumento de los niveles séricos de betabloqueante por uso de nisoldipino.</li>
          <li ng-show="respuestas.farma_opio">Posible potenciación de la toxicidad de los analgésicos narcóticos.</li>
          <li ng-show="respuestas.farma_oximetazolinanasal">Posible elevación de la tensión arterial por uso de vasoconstrictores nasales.</li>
          <li ng-show="respuestas.farma_petidina">Posible potenciación de la toxicidad de los analgésicos narcóticos.</li>
          <li ng-show="respuestas.farma_pioglitazona">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_pixantrona">Posible aumento de las concentraciones plasmáticas de pixantrona.</li>
          <li ng-show="respuestas.farma_ranolazina">Posible acumulación de los sustratos mayores del CYP2D6 por uso de ranolazina.</li>
          <li ng-show="respuestas.farma_repaglinida">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_saxagliptina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_sitagliptina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_tramazolinanasal">Puede originarse una importante elevación de la tensión arterial por uso de tramazolina.</li>
          <li ng-show="respuestas.farma_vemurafenib">Posible aumento de las concentraciones plasmáticas del CYP1A2 por uso de vemurafenib.</li>
          <li ng-show="respuestas.farma_vildagliptina">Pueden originarse hipoglucemias por uso de antidiabéticos orales.</li>
          <li ng-show="respuestas.farma_xilometazolinanasal">Posible elevación de la tensión arterial por uso de vasoconstrictores nasales.</li>
        </ul>
        <br/>
        <div ng-show='tratamientos.propranolol.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.angina'>Anginas de pecho de repetición.</li>
                <li ng-show='respuestas.ansiedad'>Ansiedad con taquicardias y temblores.</li>
                <li ng-show='respuestas.arritmia_cardiaca'>Arritmia cardiaca suceptible de mejora con betabloqueantes.</li>
                <li ng-show='respuestas.hipertensin_arterial'>Hipertensión arterial.</li>
                <li ng-show='respuestas.miocardiopata_hipertrfica'>Miocardiopatía hipertrófica obstructiva.</li>
                <li ng-show='respuestas.temblor_esencial'>Temblor esencial.</li>
                <li ng-show='respuestas.tirotoxicosis'>Tirotoxicosis.</li>
                <li ng-show='respuestas.varices_esofgicas'>Varices esofágicas.</li>
            </ul>
        </div>
            </div>
      <div class="alert alert-danger" ng-show='tratamientos.propranolol.prohibido(respuestas)'>
        Terminalmente prohibido por:
        <ul>
          <li ng-show='respuestas.embarazo'>Embarazo o deseo de gestación.</li>
          <li ng-show='respuestas.alergia_propranolol'>Alergia o intolerancia al fármaco.</li>
          <li ng-show='respuestas.hipotension'>Contraindicado en pacientes con tensión arterial sistólica inferior a 100 mmHg.</li>
          <li ng-show='respuestas.bradicardia'>Contraindicado en pacientes con frecuencia cardiaca inferior a 50 lpm.</li>
          <li ng-show='respuestas.arritmia_o_bloqueo_cardiaco'>Contraindicado en pacientes con bloqueo cardiaco de segundo o tercer grado debido a su efecto negativo en el tiempo de conducción.</li>
          <li ng-show='respuestas.acidosis_metablica'>En caso de acidosis metabólica, el bloqueo de los receptores beta puede provocar una disminución del tono simpático necesario para conservar las funciones vitales.</li>
          <li ng-show='respuestas.asma'>El bloqueo de los receptores beta 2 adrenérgicos por propranolol puede precipitar episodios de broncospasmo empeorando la enfermedad.</li>
          <li ng-show="respuestas.farma_bambuterol">Posible reducción del efecto de los broncodilatadores beta 2 adrenérgicos.</li>
          <li ng-show="respuestas.farma_clonidina">La administración conjunta con clonidina puede originar un aumento de la presión arterial.</li>
          <li ng-show="respuestas.farma_clorazepatodipotsico">Posible potenciación del efecto de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_clordiacepxido">Posible potenciación del efecto de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_clorpromacina">Posible aumento de los niveles plasmáticos de propranolol y clorpromacina.</li>
          <li ng-show="respuestas.farma_disopiramida">Posible bradicardia e hipotensión severa por administración conjunta de disopiramida.</li>
          <li ng-show="respuestas.farma_dopamina">Posible elevación de la tensión arterial, bradicardia y arritmias por dopamina.</li>
          <li ng-show="respuestas.farma_epinefrina">Posible elevación de la tensión arterial, bradicardia y arritmias por epinefrina.</li>
          <li ng-show="respuestas.farma_fenilefrinanasal">Posible elevación de la tensión arterial, bradicardia y arritmias por fenilefrina.</li>
          <li ng-show="respuestas.farma_fingolimod">Riesgo de disminución excesiva de frecuencia cardiaca por fingolimod.</li>
          <li ng-show="respuestas.farma_fluoxetina">Riesgo de bloqueo cardiaco completo por fluoxetina.</li>
          <li ng-show="respuestas.farma_formoterol">Posible reducción del efecto de los broncodilatadores beta 2 adrenérgicos.</li>
          <li ng-show="respuestas.farma_hidroclorotiazida">Posible incremento de los niveles de glucosa en sangre por hidroclorotiazida.</li>
          <li ng-show="respuestas.farma_indacaterol">Puede dar lugar a broncoespasmo.</li>
          <li ng-show="respuestas.farma_lidocana">Riesgo de intoxicación por lidocaína.</li>
          <li ng-show="respuestas.farma_medazepam">Posible potenciación del efecto y la toxicidad del medazepam.</li>
          <li ng-show="respuestas.farma_metacolina">Potenciación de los efectos broncoconstrictores de la metacolina.</li>
          <li ng-show="respuestas.farma_nimodipino">Posible reducción de los niveles séricos de nimodipino.</li>
          <li ng-show="respuestas.farma_olodaterol">Puede dar lugar a broncoespasmos por uso de olodaterol.</li>
          <li ng-show="respuestas.farma_pinazepam">Posible potenciación del efecto de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_prazosina">Posible aumento de hipotensión ortostática por prazosina.</li>
          <li ng-show="respuestas.farma_procainamida">Posible aumento de los niveles plasmáticos de procainamida.</li>
          <li ng-show="respuestas.farma_salbutamol">Posible reducción del efecto de los broncodilatadores beta 2 adrenérgicos.</li>
          <li ng-show="respuestas.farma_salmeterol">Posible reducción del efecto de los broncodilatadores beta 2 adrenérgicos.</li>
          <li ng-show="respuestas.farma_terbutalina">Posible reducción del efecto de los broncodilatadores beta 2 adrenérgicos.</li>
          <li ng-show="respuestas.farma_vilanterol">Puede dar lugar a broncospasmo por uso de vilanterol.</li>
        </ul>
      </div>
    </li>
    <li ng-show="mostrar_evaluacion_completa || visible(tratamientos.topiramato)">
      <label> Topiramato</label>
      <div class="alert alert-success" ng-show='tratamientos.topiramato.recomendado(respuestas)'>Recomendado
        <br/>
        <div ng-show='tratamientos.topiramato.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.epilepsia'>Epilepsia.</li>
            </ul>
        </div></div>
      <div class="alert alert-warning" ng-show='tratamientos.topiramato.noRecomendado(respuestas)'>
        No recomendado por:
        <ul>
          <li ng-show='respuestas.cardiopatia'>Cardiopatia</li>
           <li ng-show='respuestas.fotosensibilidad'>Se han observado reacciones de fotosensibilidad durante el tratamiento.</li>
           <li ng-show='respuestas.insuficiencia_heptica'>Puede verse disminuido su aclaramiento.</li>
           <li ng-show='respuestas.acidosis_metablica'>Otras enfermedades o tratamientos que predispongan a la acidosis metabólica pueden tener efectos aditivos respecto a la reducción del bicarbonato causada.</li>
           <li ng-show='respuestas.insuficiencia_renal'>Se excreta mayoritariamente con la orina de forma inalterada, por lo que podría incrementarse su toxicidad.</li>
           <li ng-show='respuestas.glaucoma'>Se ha descrito que puede causar miopía aguda con glaucoma secundario de ángulo cerrado.</li>
           <li ng-show='respuestas.tendencia_suicida'>Se han descrito intentos suicidas en relación con la administración.</li>
           <li ng-show='respuestas.depresin'>Se han comunicado episodios depresivos en relación con la administración.</li>
           <li ng-show='respuestas.alteraciones_cognitivas'>Es necesario precaución en pacientes que presentan alteraciones cognitivas o de la conducta.</li>
           <li ng-show='respuestas.clculos_urinarios'>Existe aumento del riesgo de formación de cálculos renales durante la administración.</li>
           <li ng-show="respuestas.farma_carbamazepina">Reducción de los niveles de topiramato por uso de carbamazepina.</li>
          <li ng-show="respuestas.farma_digoxina">Reducción de los niveles de digoxina.</li>
          <li ng-show="respuestas.farma_eslicarbazepina">Reducción de los niveles de topiramato por uso de eslicarbazepina.</li>
          <li ng-show="respuestas.farma_etinilestradiol">Reducción de los niveles del estrógeno y posible pérdida de efectividad.</li>
          <li ng-show="respuestas.farma_fenitona">Reducción de los niveles de topiramato por uso de fenitoína.</li>
          <li ng-show="respuestas.farma_fenobarbital">Reducción de los niveles de topiramato por uso de fenobarbital.</li>
          <li ng-show="respuestas.farma_glibenclamida">Reducción de los niveles del antidiabético.</li>
          <li ng-show="respuestas.farma_hidroclorotiazida">Reducción de los niveles de topiramato por uso de hidroclorotiazida.</li>
          <li ng-show="respuestas.farma_carbonatodelitio">Aumento de los niveles de litio.</li>
          <li ng-show="respuestas.farma_metformina">Aumento de los niveles de metformina.</li>
          <li ng-show="respuestas.farma_pioglitazona">Reducción de los niveles de pioglitazona.</li>
          <li ng-show="respuestas.farma_valproato">Reducción de los niveles de topiramato por uso de valproato.</li>
          <li ng-show="respuestas.farma_primidona">Reducción de los niveles de topiramato por uso de primidona.</li>
        </ul>
        <br/>
        <div ng-show='tratamientos.topiramato.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.epilepsia'>Epilepsia.</li>
            </ul>
        </div>
      </div>
      <div class="alert alert-danger" ng-show='tratamientos.topiramato.prohibido(respuestas)'>
        Terminalmente prohibido por:
        <ul>
          <li ng-show='respuestas.embarazo'>Embarazo o deseo de gestación.</li>
          <li ng-show='respuestas.alergia_topiramato'>Alergia o intolerancia al fármaco.</li>
          <li ng-show='respuestas.alcohol'>El paciente desea tomar bebidas alcohólicas durante el tratamiento.</li>
          <li ng-show="respuestas.farma_acetazolamida">Mayor incidencia de nefrolitiasis por acetazolamida.</li>
          <li ng-show="respuestas.farma_cidoascrbico">Mayor incidencia de nefrolitiasis por ácido ascórbico.</li>
          <li ng-show="respuestas.farma_carbonatodecalcio">Mayor incidencia de nefrolitiasis por carbonato de calcio.</li>
          <li ng-show="respuestas.farma_clorurodecalcio">Mayor incidencia de nefrolitiasis por cloruro de calcio.</li>
          <li ng-show="respuestas.farma_fosfatodecalcio">Mayor incidencia de nefrolitiasis por fostato de calcio.</li>
          <li ng-show="respuestas.farma_lactatodecalcio">Mayor incidencia de nefrolitiasis por lactato de calcio.</li>
          <li ng-show="respuestas.farma_pidolatodecalcio">Mayor incidencia de nefrolitiasis por pidolato de calcio.</li>
          <li ng-show="respuestas.farma_clopidogrel">Posible disminución de la actividad antiagregante de clopidogrel.</li>
          <li ng-show="respuestas.farma_gluconatodecalcio">Mayor incidencia de nefrolitiasis de gluconato de calcio.</li>
          <li ng-show="respuestas.farma_saquinavir">Mayor incidencia de nefrolitiasis de saquinavir.</li>
          <li ng-show="respuestas.farma_triamtereno">Mayor incidencia de nefrolitiasis de triamtereno.</li>
          <li ng-show="respuestas.farma_zonisamida">Mayor incidencia de nefrolitiasis de zonisamida.</li>
        </ul>
      </div>
    </li>
    <li ng-show="mostrar_evaluacion_completa || visible(tratamientos.valproato)">
      <label> Valproato</label>
      <div class="alert alert-success" ng-show='tratamientos.valproato.recomendado(respuestas)'>Recomendado
        <br/>
        <div ng-show='tratamientos.valproato.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.ausencias'>Ausencias.</li>
                <li ng-show='respuestas.epilepsia'>Epilepsia.</li>
                <li ng-show='respuestas.tics'>Tics.</li>
                <li ng-show='respuestas.trastorno_bipolar'>Trastorno bipolar.</li>
            </ul>
        </div>
    </div>
      <div class="alert alert-warning" ng-show='tratamientos.valproato.noRecomendado(respuestas)'>
        No recomendado por:
        <ul>
          <li ng-show='respuestas.cardiopatia'>Cardiopatia</li>
          <li ng-show='respuestas.porfiria'>Su metabolización hepática puede potenciar la síntesis de determinados enzimas como la ALA sintetasa, que puede dar lugar a un aumento de porfirinas, lo que provoca la exacerbación de la enfermedad.</li>
          <li ng-show='respuestas.dolor_abdominal'>En muy raras ocasiones, se han documentado pancreatitis graves.</li>
          <li ng-show='respuestas.pancreatitis'>En muy raras ocasiones, se han documentado pancreatitis graves.</li>
          <li ng-show='respuestas.aplasia_medular'>Ocasionalmente produce depresión reversible de la médula ósea.</li>
          <li ng-show='respuestas.insuficiencia_renal'>En caso de insuficiencia renal, pueden aumentar sus concentraciones séricas libres, debiendo disminuir la posología.</li>
          <li ng-show='respuestas.tendencia_suicida'>La toma de antiepilépticos se ha asociado con tendencia suicida.</li>
          <li ng-show='respuestas.depresin'>Durante la administración, es necesario vigilar al paciente acerca de la aparición o empeoramiento de estados de depresión.</li>
          <li ng-show='respuestas.lupus'>Muy excepcionalmente se han registrado manifestaciones inmunológicas en pacientes con lupus.</li>
          <li ng-show="respuestas.farma_acenocumarol">Posible aumento de la actividad anticoagulante.</li>
          <li ng-show="respuestas.farma_cidoacetilsaliclico">Posible aumento de los niveles plasmáticos de valproato.</li>
          <li ng-show="respuestas.farma_aciclovir">Posible reducción de los niveles séricos de valproato por aciclovir.</li>
          <li ng-show="respuestas.farma_bleomicina">Posible reducción de los niveles séricos de valproato por bleomicina.</li>
          <li ng-show="respuestas.farma_cisplatino">Posible reducción de los niveles séricos de valproato por cisplatino.</li>
          <li ng-show="respuestas.farma_clonacepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_clorpromacina">Posible aumento de niveles de valproato.</li>
          <li ng-show="respuestas.farma_colestiramina">Posible reducción de la biodisponibilidad del valproato por colestiramina.</li>
          <li ng-show="respuestas.farma_diazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_doxorubicina">Posible reducción de los niveles séricos de valproato por doxorubicina.</li>
          <li ng-show="respuestas.farma_etosuximida">Riesgo de intoxicación por etosuximida.</li>
          <li ng-show="respuestas.farma_flunarizina">Posible pérdida de la eficacia de flunarizina.</li>
          <li ng-show="respuestas.farma_lamotrigina">Posible acumulación orgánica de lamotrigina.</li>
          <li ng-show="respuestas.farma_lorazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_metotrexato">Posible reducción de la biodisponibilidad de valproato por metotrexato</li>
          <li ng-show="respuestas.farma_naproxeno">Posible aumento de la concentración por uso de naproxeno.</li>
          <li ng-show="respuestas.farma_orlistat">Posible aparición de convulsiones por orlistat.</li>
          <li ng-show="respuestas.farma_oxcarbazepina">Posible reducción de los niveles de oxcarbazepina</li>
          <li ng-show="respuestas.farma_oxibatosdico">Posible aumento de las concentraciones de oxibato y aumento de su toxicidad.</li>
          <li ng-show="respuestas.farma_rufinamida">Posible acumulación orgánica de rufinamida.</li>
          <li ng-show="respuestas.farma_topiramato">Posible reducción de los niveles de topiramato.</li>
          <li ng-show="respuestas.farma_vinblastina">Posible reducción de la biodisponibilidad del anticonvulsivante.</li>
          <li ng-show="respuestas.farma_warfarina">Posible aumento de la actividad anticoagulante.</li>
          <li ng-show="respuestas.farma_zidovudina">Posible acumulación de zidovudina.</li>
          <li ng-show="respuestas.farma_alprazolam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_bromazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_clorazepatodipotsico">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_clordiacepxido">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_clotiazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_fenilbutiratosdico">Posible riesgo de hiperamoniemia con fenilbutirato.</li>
          <li ng-show="respuestas.farma_flurazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_lormetazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_medazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_oxazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_pinazepam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_triazolam">Posible potenciación de benzodiacepinas.</li>
          <li ng-show="respuestas.farma_zolpidem">La administración junto con zolpidem puede inducir sonambulismo.</li>
        </ul>
        <br/>
         <div ng-show='tratamientos.valproato.sinergias(respuestas) > 0'>
            Sirve para tratar las siguientes condiciones concomitantes:
            <ul>
                <li ng-show='respuestas.ausencias'>Ausencias.</li>
                <li ng-show='respuestas.epilepsia'>Epilepsia.</li>
                <li ng-show='respuestas.tics'>Tics.</li>
                <li ng-show='respuestas.trastorno_bipolar'>Trastorno bipolar.</li>
            </ul>
        </div>
      </div>
      <div class="alert alert-danger" ng-show='tratamientos.valproato.prohibido(respuestas)'>
        Terminalmente prohibido por:
        <ul>
          <li ng-show='respuestas.embarazo'>Embarazo o deseo de gestación.</li>
          <li ng-show='respuestas.alergia_valproato'>Alergia o intolerancia al fármaco.</li>
          <li ng-show='respuestas.insuficiencia_heptica'>Alto riesgo de hepatotoxicidad en caso de insuficiencia hepática.</li>
          <li ng-show='respuestas.hepatitis_aguda_o_crnica'>Alto riesgo de hepatotoxicidad en caso de hepatitis aguda o crónica.</li>
          <li ng-show="respuestas.farma_amitriptilina">Posible acumulación de amitriptilina.</li>
          <li ng-show="respuestas.farma_carbamazepina">Posible disminución de niveles de valproato.</li>
          <li ng-show="respuestas.farma_clobazam">Posible potenciación de los efectos de clobazam.</li>
          <li ng-show="respuestas.farma_clomipramina">Posible acumulación de clomipramina.</li>
          <li ng-show="respuestas.farma_clozapina">Posible acumulación de clozapina.</li>
          <li ng-show="respuestas.farma_ertapenem">Posible reducción de la concentración de valproato por ertapenem.</li>
          <li ng-show="respuestas.farma_eslicarbazepina">Posible disminución de niveles de valproato.</li>
          <li ng-show="respuestas.farma_fenitona">Posible disminución de niveles de fenitoína.</li>
          <li ng-show="respuestas.farma_fenobarbital">Posible aumento de niveles de fenobarbital.</li>
          <li ng-show="respuestas.farma_imipenem">Posible reducción de la concentración de valproato por imipenem.</li>
          <li ng-show="respuestas.farma_meropenem">Posible reducción de la concentración de valproato por meropenem.</li>
          <li ng-show="respuestas.farma_nimodipino">Posible incremento de los niveles plasmáticos de nimodipino.</li>
          <li ng-show="respuestas.farma_nortriptilina">Posible acumulación de nortriptilina.</li>
          <li ng-show="respuestas.farma_primidona">Posible aumento de niveles plasmáticos de primidona.</li>
        </ul>
      </div>
    </li>
  </ul>
  <div ng-show='empateResueltoPorPrecio()'>
    Se ha priorizado sobre otros medicamentos con el mismo nivel de recomendación por ser más económico.
  </div>
  <div ng-show='tratamientosAdecuados().length == 0'>
    No se recomienda ningún tratamiento debido a las características del paciente.
  </div>
  <div>
    <label>
      <input type="checkbox" ng-model="mostrar_evaluacion_completa"> Mostrar evaluacion completa
    </label>
  </div>
</div>
